<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>ČVUT - {% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{% static 'custom.css' %}" rel="stylesheet" media="screen">
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    <div class="container page-container">
      {% block content %}{% endblock %}
      <div id="footer"><p class="text-muted credit">&copy; 2016 Mikuláš Poul.
      Změny možné přes <a href="https://gitlab.com/mikulaspoul/apelnarektora">GitLab</a>.</p></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
